DJANGO_SECRET_KEY=any-long-random-string-you-make-up
DEBUG=True
DB_NAME=retool
DB_USER=retool
DB_PASSWORD=your-password-here
DB_HOST=ep-lively-frost-ak1mhdhf-pooler.c-3.us-west-2.retooldb.com
DB_PORT=5432
